@font-face {
  font-family: 'Formula1';
  src:  url('/src/fonts/Formula1-Regular.ttf'),url('/src/fonts/Formula1-Bold.ttf') ;
}

:root {
  font-family: 'Formula1', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}