@font-face {
  font-family: 'Formula1';
  src:  url('/src/fonts/Formula1-Regular.ttf'),url('/src/fonts/Formula1-Bold.ttf') ;
}

:root {
  font-family: 'Formula1', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --button-shadow: 2px 2px 3px 0 rgba(112, 107, 122, 0.75);
  --border-radius-s: 9px;
  --border-radius-m: 19px;
  --spacing-xs: 6px;
  --spacing-s: 12px;
}

html, 
body {
  height: 100%;
}

body {
  margin: 0px;
}

#root {
  height: 100%;
}