.welcomeWrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.buttonsContainer {
	display: flex;
	margin: auto;
	grid-template-columns: 1fr 1fr;
	gap: 12px;

	.navButton {
		text-decoration: none;
		color: black;
		padding: 12px;
		width: 200px;
		border: 1px solid black;
		border-radius: 12px;

		&:hover {
			-webkit-box-shadow: var(--button-shadow);
			-moz-box-shadow: var(--button-shadow);
			box-shadow: var(--button-shadow);
		}
	}
}

.standingsNavigation {
	display: flex;
	gap: 12px;

	.standingsTypeLink {
		color: black;
		padding: 6px 12px;
		text-decoration: none;
		border: 1px solid black;
		border-radius: 6px;

		&.activeNav {
			background-color: rgb(46, 37, 37);
			color: #ffffff;
		}

		&:hover:not(.activeNav) {
			-webkit-box-shadow: var(--button-shadow);
			-moz-box-shadow: var(--button-shadow);
			box-shadow: var(--button-shadow);
		}
	}
}

.standingsGrid {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.standingsGrid > *:nth-child(2n) {
	background-color: rgb(247, 242, 235);
}

.gridHeader {
	font-size: 40px;
}

.standingsRow {
	display: grid;
	grid-template-columns: 60px 1fr 70px 70px;
	align-items: center;
	align-content: center;
	height: 20px;

	border-bottom-right-radius: 16px;
	border-top-left-radius: 16px;
	border: 2px solid black;

	min-width: 500px;
	padding: 12px;

	.driverNames {
		display: flex;
		gap: 12px;
	}

	:last-child {
		text-align: right;
	}
}

.yearSelect {
	background-color: #ffffff;
	border: 1px solid black;
	border-radius: 10px;
	padding: 2px 10px;

	&:hover {
		-webkit-box-shadow: var(--button-shadow);
		-moz-box-shadow: var(--button-shadow);
		box-shadow: var(--button-shadow);
	}
}
