.welcomeWrapper {
	max-width: 800px;
	margin: auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.welcomeContent {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;

		.title {
			font-size: 40px;
		}
	}

	@media only screen and (max-width: 450px) {
		padding: var(--spacing-s);
	}
}

.buttonsContainer {
	display: flex;
	gap: var(--spacing-s);

	.navButton {
		text-decoration: none;
		background-color: #e10600;
		color: var(--inverse-text-color);
		padding: var(--spacing-s);
		width: calc(min(200px, 35vw));
		border-radius: var(--border-radius-s);

		&:hover {
			-webkit-box-shadow: var(--button-shadow);
			-moz-box-shadow: var(--button-shadow);
			box-shadow: var(--button-shadow);
		}
	}

	@media only screen and (max-width: 450px) {
		flex-direction: column;

		.navButton {
			width: auto;
		}
	}
}

.standingsWrapper {
	padding: 24px;
	max-width: 1000px;
	margin: auto;

	.standingsNavigation {
		display: flex;
		gap: var(--spacing-s);

		.standingsTypeLink {
			background-color: var(--inverse-text-color);
			color: var(--normal-text-color);
			padding: var(--spacing-xs) var(--spacing-s);
			text-decoration: none;
			border-bottom: 1px solid var(--normal-text-color);

			&.activeNav {
				color: var(--inverse-text-color);
				background-color: red;
			}

			&:hover {
				position: relative;
				top: -1px;
				border-bottom: 2px solid var(--normal-text-color);
			}
		}

		@media only screen and (max-width: 450px) {
			gap: 0;

			.standingsTypeLink {
				padding: var(--spacing-xs);
			}
		}

		@media only screen and (max-width: 900px) {
				justify-content: center;
		}
	}
}

.standingsGrid {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-s);
}

.standingsGrid > *:nth-child(2n) {
	background-color: light-dark(rgb(220, 220, 227), rgb(61, 60, 65));
}

.gridHeader {
	font-size: 40px;
	font-weight: 500;
	@media only screen and (max-width: 900px) {
		text-align: center;
	}
}

.standingsHeader {
	display: grid;
	grid-template-columns: 60px minmax(0, 1fr) 100px 70px;
	padding: var(--spacing-s);

	:last-child {
		text-align: right;
	}

	@media only screen and (max-width: 450px) {
		grid-template-columns: 40px minmax(0, 1fr) 70px 50px;
		padding: var(--spacing-xs);
	}
}

.standingsRow {
	display: grid;
	grid-template-columns: 60px minmax(0, 1fr) 70px 70px;

	align-items: center;
	align-content: center;

	border-bottom-right-radius: var(--border-radius-s);
	border-top-left-radius: var(--border-radius-s);

	height: 20px;
	padding: var(--spacing-s);

	.driverNames {
		display: flex;
		gap: var(--spacing-s);
	}

	:last-child {
		text-align: right;
	}

	@media only screen and (max-width: 450px) {
		grid-template-columns: 40px minmax(0, 1fr) 20px 45px;
		padding: var(--spacing-xs);

		.driverNames {
			gap: var(--spacing-xs);
		}
	}
}

.yearSelect {
	background-color: var(--inverse-text-color);
	border: 0px solid var(--normal-text-color);
	border-bottom: 1px solid var(--normal-text-color);
	padding: 0px var(--spacing-s);

	&:hover {
		border-bottom: 2px solid var(--normal-text-color);
		position: relative;
		top: -1px;
	}
}

.iconContainer {
	border-bottom: 1px solid var(--normal-text-color);

	.icon {
		height: 33px;
		fill: var(--normal-text-color);
		stroke: var(--normal-text-color);
	}

	&:hover {
		.icon {
			height: 32px;
		}
		border-bottom: 2px solid var(--normal-text-color);
	}
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
